:root{
  --primaria:#FFFF00;
  --secudaria: #FFFFFF;
  --terciaria: #BDBBBB;
  --quartearia: #000000;
  --background: #161618;
}

*{
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{background-color: var(--quartearia);}