:root{
  --primaria:#FFFF00;
  --secudaria: #FFFFFF;
  --terciaria: #BDBBBB;
  --quartearia: #000000;
  --background: #161618;
}

*{
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{background-color: var(--quartearia);}

#infor_registro{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/photo_01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* INFORMAÇÕES DO EVENTO */
#informe{
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  width: 30rem;
  height: 29rem;
}


#informe h1{
  font-size: 64px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  color: var(--primaria);
  margin-top: 3.75rem;
}

#subtitulo{
  font-size: 36px;
  font-weight: 600;
  line-height: 39px;
  color: var(--secudaria);
  margin-top: 2.5rem;
}

#text{
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--terciaria);
  margin-top: 1.25rem;
}

#infor_icon{
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  /* background-color: tomato; */
}

#icon_data, #icon_live{
  display: flex;
  width: 11rem;
}

#icon_data img, #icon_live img{
  width: 30px;
  height: 30px;
}

#icon_data i, #icon_live i{
  align-self: flex-end;
}

#icon_data p, #icon_live p{
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0.6rem;
  color: var(--secudaria);
}

/* FORMULARIO DE REGISTRO DO EVENTO */
#registro{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 22rem;
  height: 27rem;
  margin-top: 3.75rem;
  padding-left: 1.25rem;
  border-radius: 5px;
  background-color: var(--secudaria);
}

#registro h3{
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color:var(--quartearia);
  margin-top: 1.25rem;
}

.labe_input{
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.labe_input label{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--quartearia);
  margin-bottom: 0.3rem;
}

.labe_input input, select{
  width: 19.5rem;
  height: 2.5rem;
  border: 1px solid #5B5B0C;
  border-radius: 0.3rem;
  padding: 0px 0.5rem;
  outline: none;
}

#check_box{
  margin-top: 1.25rem;
}

#check_box label{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--quartearia);
  margin-left: 0.3rem;
}

#check_box input{
  width: 15px;
  height: 15px;
}

#btn{
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--quartearia);
  background: linear-gradient(180deg, #FCFC1E 12.5%, rgba(255, 107, 0, 0.78) 88.54%);
  width: 19.5rem;
  height: 3.1rem;
  margin-top: 1.25rem;
  text-align: center;
  border: none;
  border-radius: 5px;
}